// fonts
$mainFont: "OpenSans", Arial, Helvetica, sans-serif; // last 3 types web safe fonts
$beautifulFont: "Reey", Arial, Helvetica, sans-serif;
$secondaryFont: "Montserrat", Arial, Helvetica, sans-serif;
$iconFont: "socialico";

// screens
$mobile: "max-width: 767px";
$tablet: "max-width: 1024px";
$desctop: "max-width: 1150px";

//colors
$dark-grey: #27292c;
$off-white: #f8f6f1;
$greyish-brown: #3f3f3f;
$black: #343434;
$charcoal-grey: #2f3135;
$white: #fefefe;
$white-dark: #dbd6d6;
$greyish-brown: #54524f;
$charcoal-grey: #2e3034;
$almost-black: #06070b;
$green: #94b137;
$chocolate: #b44215;
